img {
    max-width: 100%;
}


.main-blog-card {
    width: 90%;
}

.main-blog {
    width: 70%;
}

.w-450 {
    width: 450px;
}

.vh-100 {
    min-height: 100vh;
}

/*admin*/
.section-1 {
    width: 100%;
    padding: 15px;
}

.main-table {
    width: 90%;
    max-width: 700px;
}

.react-btns i {
    font-size: 24px;
    color: #222;
    cursor: pointer;
}

.react-btns text {
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: large;
    vertical-align: middle;
}

.react-btns a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

.react-btns a:hover {
    opacity: .8;
}

.react-btns .like:hover {
    color: #0088FF;
}

.react-btns .liked {
    color: #0088FF;
}

.comments .comment span {
    color: #0088FF;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .aside-main {
        display: none;
    }

    .main-blog {
        width: 100%;
    }

    .main-blog-card {
        width: 100%;
    }
}



.post-center {
    align-items: center;
}


.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}




.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    align-items: center;
}

.backdrop {
    background-color: #c97cf2a4;

}

.frontdrop {
    background-color: #bd59f2b4;
}

.post-center.mt-4 {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

.post-center.mt-4 form,
.post-center.mt-4 form label,
.post-center.mt-4 form textarea,
.post-center.mt-4 form input {
    text-align: left;
}

.image-container {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 20px;
    padding: 0%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #6f42c1;
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: inherit;
}

.navbar .navbar-nav .nav-link:hover {
    color: #06274b;
}

.navbar li.right {
    float: right;
    /* Float the right-aligned list item to the right */
}

.navbar-brand {
    display: flex;
    align-items: center;
}


.navbar-brand img {
    align-self: center;
}

.navbar-brand b {
    align-self: center;
}

.dp {
    border-radius: 50%;
    overflow: hidden;
    padding-top: 0%;
    padding-bottom: 0%;
}

.text {
    height: 200px;
}


.centered-image {
    width: 40%;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}



.card-img-top {
    border-radius: 50%;
    height: 250px !important;
    width: 250px !important;
    position: relative;
    left: 25px;
    top: -120px;
    object-fit: cover;
}

.card {
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px !important;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.card-body {
    margin-top: -50px;
}

.bi {
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .card-img-top {

        left: 48px !important;

    }
}